@()

@templateMain("Welcome to Play") {
<nav class="navbar px-5 align-items-center fixed-top bgNavbar text-white">
    <div class="container">
        <div class="mx-auto">
            <h5 class="navTitle">Money Manager</h5>
        </div>
    </div>
</nav>
<div>
    <div class="landing container-fluid text-white">
        <div class="cardDate d-flex justify-content-around ">
            <div>
                <button onclick="previousDay()" class="btn dateButton"><i class="fas fa-angle-left fa-xl"></i></button>
            </div>
            <h4 class="date pt-2"></h4>
            <div>
                <button onclick="nextDay()" class="btn dateButton"><i class="fas fa-angle-right dateButton"></i></button>
            </div>

        </div>
        <div class="balance mx-2">
            <div class="card cardBalance py-2">
                <div class="d-flex flex-row justify-content-around">
                    <div class="text-center">
                        <h6 class="textBalance">Income</h6>
                        <h6 class="textCurrent income">0</h6>
                    </div>
                    <div class="text-center">
                        <h6 class="textBalance">Expense</h6>
                        <h6 class="textCurrent expense">0</h6>
                    </div>
                    <div class="text-center">
                        <h6 class="textBalance">Balance</h6>
                        <h6 class="textCurrent balanceCurrent">0</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between plusSection">
            <h5>Transaction</h5>
            <div>
                <button type="button" class="btn btn-primary btn-circle px-auto">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="transactionDetail ">
            <div class="d-flex justify-content-between">
                <div class="d-flex">
                    <img class="profilePic" src="@routes.Assets.versioned("images/profilePic.png")" />
                    <div class="my-auto ms-3">
                        <p class="profileName my-auto">Fried Chicken <br> <span class="profileDesc">Food</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <h5>Rp 30000</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar align-items-center fixed-bottom text-white">
    <div class="container justify-content-center">
        <div class="text-center">
            <h6 class="footTitle">“Do not save what is left after spending, but spend what is left after saving. “ <br>
                <span class="footAuthor">- Warren Buffet</span>
            </h6>
        </div>
    </div>
</nav>
}
